<button mat-button class="back-button" [routerLink]="bookingListRoute">
  <mat-icon>close</mat-icon>
</button>
<table *ngIf="booking$ | async as booking; else loading">
  <!--  <tr>
    <td colspan="2">
      Die Bestätigungsmail wurde an "{{ booking.email }}" gesendet
    </td>
  </tr>-->
  <br />
  <tr>
    <td>Arbeitsplatz:</td>
    <td>{{ booking.id }}</td>
  </tr>
  <br />
  <tr>
    <td>Standort:</td>
    <td>{{ booking.institution }}</td>
  </tr>
  <tr>
    <td>Zeit:</td>
    <td>{{ booking.start | date: "HH:mm" }} - {{ booking.end | date: "HH:mm" }}</td>
  </tr>
  <tr>
    <td>Tag:</td>
    <td>{{ booking.start | date: "longDate" }}</td>
  </tr>
  <br />
  <tr>
    <td>Buchungs-nummer:</td>
    <td>{{ booking.bookingCode }}</td>
  </tr>
  <br />
  <tr>
    <td colspan="2">
      <div fxLayout="row" fxLayoutAlign="end center">
        <app-loading-button (click)="cancelBooking(booking)" [loading]="cancelationInProgress">
          Stornieren
        </app-loading-button>
      </div>
    </td>
  </tr>
</table>

<ng-template #loading>
  <bullet-list-content-loader></bullet-list-content-loader>
</ng-template>
