<mat-form-field fxFlex>
  <mat-label>Tag</mat-label>
  <input
    (focus)="picker.open()"
    matInput
    [max]="maxDate"
    [min]="minDate"
    [matDatepicker]="picker"
    [formControl]="control"
    required
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [touchUi]="isHandset" #picker></mat-datepicker>
  <mat-error *ngIf="control.hasError('matDatepickerParse')">Datumsformat ist nicht korrekt!</mat-error>
  <mat-error *ngIf="control.hasError('matDatepickerMin')">
    Tag ist außerhalb des möglichen Buchungszeitrum
  </mat-error>
</mat-form-field>
