.icon {
  margin-right: -12px;
  margin-top: -2px;
  transition: transform 0.3s;
}
.mat-button:not([disabled]):hover .icon {
  transform: translate(5px, 0px);
}

:host {
  pointer-events: none;
}

:host /deep/ button span {
  pointer-events: none;
}

button {
  pointer-events: auto;
}
